openapi: 3.2.0
info:
  title: Worders API V1 Invoices API
  version: v1
  description: Worders API endpoints (freelance invoice verification, webhooks, ...).
servers:
- url: https://api.worders.net
tags:
- name: Invoices
paths:
  /V1/invoices:
    get:
      summary: List invoices
      tags:
      - Invoices
      description: Returns invoices mirroring the invoice PDF. Items are flattened with grouping fields (requester, order_reference, project_name) so the consumer can group freely.
      security:
      - cookie_session: []
      - bearer_auth: []
      parameters:
      - name: customer_plunet_id
        in: query
        required: false
        schema:
          type: integer
      - name: status
        in: query
        required: false
        schema:
          type: string
      - name: updated_since
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: matching invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          description: unauthenticated
      operationId: getV1Invoices
      x-operation-id-source: derived
  /V1/invoices/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Plunet invoice id (e.g. "2847") or invoice_number (e.g. "I-2847").
    get:
      summary: Show a single invoice
      tags:
      - Invoices
      security:
      - cookie_session: []
      - bearer_auth: []
      responses:
        '200':
          description: lookup by decorated invoice_number
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '404':
          description: unknown invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getV1InvoicesById
      x-operation-id-source: derived
components:
  schemas:
    PriceLineEntry:
      type: object
      properties:
        price_unit_id:
          type:
          - integer
          - 'null'
          example: 12
        service:
          type:
          - string
          - 'null'
          example: Culturalization
        unit:
          type:
          - string
          - 'null'
          example: Hour
        amount:
          type: number
          format: float
          example: 0.55
        unit_price:
          type: number
          format: float
          example: 90.0
        total:
          type: number
          format: float
          example: 49.5
    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
          example: 42
        page:
          type: integer
          example: 1
        per_page:
          type: integer
          example: 50
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type:
              - object
              - 'null'
          required:
          - code
          - message
      required:
      - error
    Invoice:
      type: object
      properties:
        invoice_number:
          type:
          - string
          - 'null'
          example: Worders-Invoice2847
        created_at:
          type: string
          format: date-time
        payment_due_date:
          type:
          - string
          - 'null'
          format: date
        payment_date:
          type:
          - string
          - 'null'
          format: date
        description:
          type:
          - string
          - 'null'
          example: Collective invoice - May 2026
        po_number:
          type:
          - string
          - 'null'
        client_ccy:
          type:
          - string
          - 'null'
          example: USD
        status:
          type:
          - string
          - 'null'
          example: outstanding
        totals:
          type: object
          properties:
            net:
              type:
              - number
              - 'null'
              format: float
              example: 5778.0
            outgoing:
              type:
              - number
              - 'null'
              format: float
              example: 5778.0
            paid:
              type:
              - number
              - 'null'
              format: float
              example: 0
        customer:
          $ref: '#/components/schemas/QuoteCustomer'
        payment_request_id:
          type:
          - string
          - 'null'
          format: uuid
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLine'
    QuoteItem:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          example: I-44556
          description: Plunet item id
        plunet_id:
          type:
          - string
          - 'null'
          description: Same as id
        language_source:
          type:
          - string
          - 'null'
          example: en-US
        language_target:
          type:
          - string
          - 'null'
          example: fr-FR
        client_price:
          type:
          - number
          - 'null'
          format: float
          example: 49.5
          description: Item price in the customer-facing currency.
        status:
          type:
          - string
          - 'null'
          example: invoiced
        price_line:
          type: array
          items:
            $ref: '#/components/schemas/PriceLineEntry'
    InvoiceLine:
      type: object
      description: A single billable line on the invoice, flattened with grouping fields (requester, order_reference, project_name) so the consumer can group freely.
      properties:
        requester:
          type:
          - string
          - 'null'
          example: Amber Russell
          description: Order contact person full name.
        order_reference:
          type:
          - string
          - 'null'
          example: O-9703
          description: Falls back to the originating quote order_reference.
        project_name:
          type:
          - string
          - 'null'
          example: Weekly Researcher task - May 5
        description:
          type:
          - string
          - 'null'
        total_price:
          type:
          - number
          - 'null'
          format: float
          example: 9.0
          description: Line total in the customer-facing currency.
        order_item:
          $ref: '#/components/schemas/QuoteItem'
    QuoteCustomer:
      type:
      - object
      - 'null'
      properties:
        plunet_id:
          type:
          - integer
          - 'null'
          example: 12345
        name:
          type: string
          example: EBSCO
        address:
          type:
          - string
          - 'null'
          example: 'EBSCO

            10 Estes Street

            01938 Ipswich

            United States'
  securitySchemes:
    cookie_session:
      type: apiKey
      in: cookie
      name: _worders_session
      description: Authenticated Devise session cookie (api.worders.net).
    bearer_auth:
      type: http
      scheme: bearer
      description: 'Service API key issued from the admin UI. Sent as `Authorization: Bearer wrd_live_…`.'
